*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}
.wrapper{
    height: 30%;
    width: 30%;
    padding: 2rem 1rem;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow:0 20px 35px  black;
}
body{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}